
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}
header{
    margin-left: 42px;
    margin-top: 47px;
    cursor: pointer;
    
}

.link-header {
    margin-left: 36px;
    color: #17233D;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.875px;
}

.button-header {
    margin-left: 36px;
    border-radius: 6px;
    border: 1px solid #4CB538;
    background: #6FBF44;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1px;
    width: 124px;
    height: 51px;
    cursor: pointer;

}

.button-header:hover {
    opacity: 0.8;
}

.button-header:active {
    opacity: 0.5;
}

img {
    margin-left: 121px;
    margin-top: 120px;
    position: absolute;
}

section{
    display: inline-block;
    width: 1440px;
    height: 1024px;
    margin-left: 801px;
    margin-top: 210px;
}

h1{
    width: 582px;
    color: #161A49;
    font-size: 62px;
    font-style: normal;
    font-weight: 700;
    line-height: 132.258% ;
    letter-spacing: 0.596px;
}
p{
    width: 493px;
    color: #4B505A;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 183.333%;
    letter-spacing: 0.5px;
    margin-top: 47px;
    margin-bottom: 55px;
}

.link-section{
    color: #6FBF44;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1px;
    cursor: pointer;
}

.link-section:hover {
    opacity: 0.8;
}

.link-section:active {
    opacity: 0.5;
}

/*se p Learn More fosse um button
background: transparente;
border: none;

*/

@media screen and (max-width: 600px) {
    * {
        margin: 0;
        padding: 0;        
    }

    body {
        margin: 0;
        padding: 0;      
    }
    section {
        display: block;
        height: auto;
        width: 75%;
        position: static;
        margin-left: 13%;
        margin-top: 10%;
    }

    h1 {
        width: 75vw;
        text-align: center;
        color: #161A49;
        font-size: 8vw;
        font-style: normal;
        font-weight: 700;
        line-height: 100%;
        letter-spacing: 0.596px;
        font-size: 30px;
        margin-bottom: 3%;
        
    }
    p {
        width: 65vw;
        height: auto;
        text-align: justify;
        color: #4B505A;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 183.333%;
        letter-spacing: 0.5px;
        margin-bottom: 1%;
        margin-top:7%;
        margin-left: 8%;

    }

    img {
        display: block;
        margin-left: 13%;
        margin-top: 37vh;
        width: 75vw;
        height: auto;
            }
    

    .link-header {
        display: none;
    }

    .button-header {
        margin-left: 60%;
        margin-top: 0;
        margin-bottom: 0;
        color: #FFF;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 1px;
        width: 61px;
        height: 18px;
        border-radius: 6px;
        border: 1px solid #4CB538;
        background: #6FBF44;
        width: 91px;
        height: 31px;
        padding: 0;
        
    }

    .link-section {
        width:70%;
        display:block;
        margin-left:30%;
        margin-bottom: 5%;
    }
   
}